<div class="container-fluid bg-primary">
  <div class="row">
    <div class="navbar">
      <div class="col-md-2">
        <span>Ecommerce</span>
      </div>
      <div class="col-md-10">
        <div class="float-right">
          <i class="fa fa-shopping-cart px-2" aria-hidden="true"></i>
          <i class="fa fa-user-o px-2" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="container menu">
      <ul>
        <li (mouseenter) ="mouseEnter(productCategories.navData[productCategory]) "  (mouseleave) ="mouseLeave(productCategories.navData[productCategory])" *ngFor="let productCategory of categories">
          <span >{{ productCategories.navData[productCategory].title}}</span>
          <i  [hidden]="!productCategories.navData[productCategory].show" class="fa fa-angle-down"aria-hidden="true"></i>
          <i  [hidden]="productCategories.navData[productCategory].show" class="fa fa-angle-up" aria-hidden="true"></i>
          <app-subcategories  *ngIf="productCategories.navData[productCategory].tabs && productCategories.navData[productCategory].tabs[0]" [tabs]=productCategories.navData[productCategory].tabs[0] [hidden]="!productCategories.navData[productCategory].show"></app-subcategories>
        </li>
      </ul>
    </div>
  </div>
</div>
