.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

ul li{
    display:inline-block;
    padding:10px 20px;
    text-transform: uppercase;
    color:#000000;
    font-weight: 500;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    font-size: 14px;
}

ul {
    justify-content: space-between;
    padding: 0px;
}

.menu {
    text-align: center;
    max-height: 42px;
}

ul li span{
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    font-weight: 600;
}

ul li:hover{
     color:goldenrod;
}

.fa-angle-down{
    color:gray;
    font-weight: 900;
}

.fa-angle-down{
    color:goldenrod;
    font-weight: 900;
}