<div class="panel">
  <div class="row">
    <div class="col-md-2" style="padding-right:5px;">
      <div class="filter">
        <app-filter [filterInfo]=products.filterInfo></app-filter>
      </div>
    </div>
    <div class="col-md-10" style="padding-left:0px;">
      <div class="products">
        <div *ngFor="let productRow of products.productsInfo" class="row">
          <div *ngFor="let product of productRow " class="col-md-4">
            <app-product [productInfo]="product"></app-product>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
