.panel{
    background-color: white;
    position: absolute;
    z-index: 100;
    border-style: solid;
    border-width: 1px;
    border-radius:2px;
    border-color:rgb(216, 214, 214);
    top:82px;
    left:300px;
    width:1100px;
    box-shadow:5px 5px 15px #e2e1e1;
}
