<div class="cointainer row panel">
  <div class="col-md-3">
    <ul>
      <li>Mobiles</li>
      <li>Samsung</li>
      <li>Lenovo</li>
      <li>Mi</li>
      <li>Oppo</li>
      <li>One plus</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li>Mobiles</li>
      <li>Samsung</li>
      <li>Lenovo</li>
      <li>Mi</li>
      <li>Oppo</li>
      <li>One plus</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li>Mobiles</li>
      <li>Samsung</li>
      <li>Lenovo</li>
      <li>Mi</li>
      <li>Oppo</li>
      <li>One plus</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li>Mobiles</li>
      <li>Samsung</li>
      <li>Lenovo</li>
      <li>Mi</li>
      <li>Oppo</li>
      <li>One plus</li>
    </ul>
  </div>
</div>
